body {
  font-family: "Nunito", "Gilroy", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 480px;
  gap: 16px;

  background: #00a92d;
}
.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 28px;
  gap: 50px;
  width: 600px;
  background: linear-gradient(135deg, #00d941 0%, #00c632 100%);
  border-radius: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: white;
}
.input-text {
  width: 540px;
  height: 50px;
  box-sizing: border-box;
    font-family: "Nunito", "Gilroy", sans-serif;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 20px;
  transition: all 0.2s ease-in-out;
}
.input-text:focus {
  outline: none;
  font-family: "Nunito", "Gilroy", sans-serif;
  transform: scale(1.05);
}
.input-text:focus::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.input-text::-webkit-input-placeholder {
  font-family: "Nunito", "Gilroy", sans-serif;
  font-size: 15px;
}
.sign_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 28px;
  gap: 16px;
}
.input-text-half {
  width: 262px;
}
.displayinline {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.input-button {
  width: 540px;
  height: 50px;
  box-sizing: border-box;
  background: #00c632;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 20px;
  font-family: "Nunito", "Gilroy", sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.input-button:hover {
  background: #00ac2b;
  transform: scale(1.05);
}
.input-button:active {
  transform: scale(0.95);
}
.input-date{
  padding: 20px;
}
.input-text-long{
  height:100px;
}