.itembod{
    display:flex;
    width:960px;
    padding:0;
    margin: auto;
    padding-top: 100px;
    flex-direction: row;
}
.itembod img{
    width:384px;
    height:384px;
    border-radius: 32px;
}
.listingdata{
    padding-left: 40px;
    font-size: 25px;
}
.listingdata h1{
margin-top:20px ;
}
.listingdata p{
    font-size: 20px;
    margin-top: -30px;
}
.listingdata h2,h5{
    display:inline;
}
.listingdata h5{
    margin-left:10px;
    text-decoration: black line-through;
}
.listingdata form{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin:20px 0px;
}
.listingdata form input{
    background-color: #fff;
    border: #000;
    border-style: dotted;
    border-radius: 20px;
}
.listingdata form input::-webkit-input-placeholder{
    color:black;
}
.listingdata .upload{
    margin: 10px 0px;
}
.blah{
    width: 960px;
    display: flex;
    flex-direction: column;
    margin:auto;
}
.addr .address{
    background-color: #fff;
    border: #000;
    border-radius: 20px;
    border-style: groove;
    width: 300px;
}
.addr .address::-webkit-input-placeholder{
    color:black;
}
.addr h3{
    background-color: #fff;
}
.addr{
    background-color: #fff;
    margin:none;
    padding:none;
}
.addr>.address{
    margin: 20px;
}
.registerbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 20px;
    text-align: center;
  }